.project-info-event-card {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title-event-card {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.lighter-event-card {
  font-size: 0.9em;
}

.flex-event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-event-card {
  font-weight: lighter;
  color: grey;
}

/*DELETE THIS TWO LINE*/
.delete {
  background-color: #b2b2fd;
}

.card-img-event-card div {
  width: 90%;
}
/*IF USING IMAGES*/
#btn-event-card-event-card{
  background-color: black;
}
#btn-event-card-event-card:hover{
  background-color: #1d4ed8;

}
.card-event-card {
  background-color: white;
  color: black;
  width: 300px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img-event-card {
  position: relative;
  top: 4px;
  height: 8rem;
  display: flex;
  justify-content: center;
  width: 18rem;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img-event-card a,
.card-img-event-card div {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs-event-card {
  transition: all 0.5s;
}
